<ul id="selection_list_wrapper" class="selectable_list_bg">
  <% result_set.each do |record| %>
    <% fields = [] %>
    <% for field_name in field_names %>
      <% begin %>
        <% fields << field_name if eval("record.#{field_name}") %>
      <% rescue %>
        <script type="text/javascript">
          jQuery(document).ready(function(){
            display_error("<%= field_name %>", "Error: Field not found '<%= field_name %>'.");
          });
        </script>
      <% end %>
    <% end %>
    <li class="selectable_element_details" id="selectable_element_div_<%= record.id %>" record_id='<%= record.id %>' selection_limit='<%=  selection_limit.to_json %>'>
      <%  unless image_url.blank? %>
        <%  url = eval("record.#{image_url}") %>
        <img src="<%= url %>" />
      <% end %>
      <p id="details">
        <% unless fields.blank? %>
          <%  for field in fields %>
            <%=  truncate(eval("record.#{field}"), :length => 18) %>
            <br />
          <% end %>
        <% end %>
      </p>
    </li>
    <div class="clear"></div>
  <% end %>
</ul>
