<%= javascript_include_tag 'awesome_selector/jquery', 'awesome_selector/jquery.jfilter', 'awesome_selector/jquery.autocomplete', 'awesome_selector/awesome_selector' %>
<%= stylesheet_link_tag 'awesome_selector/awesome_selector', 'awesome_selector/selector_template_1', 'awesome_selector/selector_template_2'%>

<div id="as_awesome_selector" class="as_awesome_selector_<%=  template %>">
  <div id="as_selectable_error_msg"></div>
  <div class="clear"></div>
  <div id="as_filter_div">
    <%=  "Filter result: " %>
    <input type = "text" id = "as_awesome_selector_list_filter" autocomplete_array = '<%=  auto_complete.to_json %>'>
    <a href="javascript: void(0);" id="as_filter_clear_btn" style="display:none;"></a>
  </div>
  <div id="as_header">
    <p class="as_title as_left"><%=  "Select" %></p>
    <div class="as_right">
      <p class="as_left as_bold" id ="as_show_all" > <%=  "All" %> </p>
      <p class="as_left" id = 'as_show_selection'> <%=  "Selected" %> </p>
      <p id="as_selection_cnt" class="as_left">
        <script type="text/javascript">
          jQuery('#as_selection_cnt').html("(" + as_selection_cnt + ")");
        </script>
      </p>
    </div>
  </div>
    <div class="clear"></div>
    <div id="as_awesome_selector_main">
      <% form_tag({:url => form_post_url}, {:id =>"as_awesome_selector_form"}) do %>
        <%=  render :partial => "/selectable/selectable_form", :locals =>{:template => template, :result_set => objects, :image_url => image_url, :field_names => field_names, :selection_limit => max_selection_limit} %>
        <%=  hidden_field_tag 'selected_element_ids' %>
        <%=  submit_tag "Submit" %>
      <% end %>
      </div>
</div>

<!--Script to highlight selected list elements on load-->
<script type="text/javascript">
as_selection_cnt = "<%= selected_objects.length %>"
if(as_selection_cnt > 0)
{
 <% for obj in selected_objects %>
   jQuery("#as_selectable_element_div_" + <%= obj %>).addClass('as_selected');
 <% end %>
 jQuery('#as_selection_cnt').html("(" + as_selection_cnt + ")");
}
</script>
