<ul id="as_selection_list_wrapper" class="as_selectable_list_bg">
  <% result_set.each do |record| %>
    <% fields = [] %>
    <% for field_name in field_names %>
      <% begin %>
        <% fields << field_name if eval("record.#{field_name}") %>
      <% rescue %>
        <script type="text/javascript">
          jQuery(document).ready(function(){
            display_error("<%= field_name %>", "Error: Field not found '<%= field_name %>'.");
          });
        </script>
      <% end %>
    <% end %>
    <li class="as_selectable_element_details" id="as_selectable_element_div_<%= record.id %>" record_id='<%= record.id %>' selection_limit='<%=  selection_limit.to_json %>'>
      <%  unless image_url.blank? %>
        <%  url = eval("record.#{image_url}") %>
        <img src="<%= url %>" />
      <% end %>
      <p id="as_details">
        <% unless fields.blank? %>
          <%  for field in fields %>
            <% if eval("record.#{field}").is_a?(String) %>
              <%=  truncate(eval("record.#{field}"), :length => 18) %>
            <% else %>
              <%=  eval("record.#{field}") %>
            <% end %> 
            <br />
          <% end %>
        <% end %>
      </p>
    </li>
  <% end %>
</ul>
